<h1>Listing heros</h1>

<table>
  <thead>
    <tr>
      <th>Hero</th>
      <th>Name</th>
      <th>Lname</th>
      <th></th>
    </tr>
  </thead>
s
  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.hero_id %></td>
        <td><%= hero.name %></td>
        <td><%= hero.lname %></td>
        <td><%= link_to 'Show', hero %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
