<p id="notice"><%= notice %></p>

<p>
  <strong>Hero:</strong>
  <%= @hero.hero_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @hero.lname %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
