<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    What's your MMR (solo or team)? Captains will be able to see this information when picking their teams, but otherwise it'll be kept private. If you don't know your exact MMR, give a rough estimate. If you're totally clueless as to your MMR, enter 0.
  </p>
  <div class="field">
    <%= f.label :mmr %><br>
    <%= f.number_field :mmr %>
  </div>
  <p>
    Please enter your email as well. This information will be kept private, and will only be used in the event that the OAHGL admins need to contact you.
  </p>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :player_type, "Are you a captain, player, or standin?" %><br>
    <%= select("user", "player_type", User::PLAYER_TYPES, {include_blank: 'Select a position'}) %>
  </div>
  <p>
  <p>
    Select the positions that you would most like to play in the league
  </p>
  <div class="field">
    <%= f.label :first_pos, "Favourite position" %><br>
    <%= select("user", "first_pos", User::POSITIONS, {include_blank: 'Select a position'}) %>
  </div>
  <div class="field">
    <%= f.label :second_pos, "Second-favourite position" %><br>
    <%= select("user", "second_pos", User::POSITIONS, {include_blank: 'Select a position'}) %>
  </div>
  <p>
    Favourite heroes:
  </p>
  <div class="field">
    <%= select_tag(:first_hero, options_from_collection_for_select(Hero.all.order(:lname), :id, :lname), :prompt => "Select a hero" ) %>
    <%= select_tag(:second_hero, options_from_collection_for_select(Hero.all.order(:lname), :id, :lname), :prompt => "Select a hero" ) %>
    <%= select_tag(:third_hero, options_from_collection_for_select(Hero.all.order(:lname), :id, :lname), :prompt => "Select a hero" ) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
