<h2>Captains</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Steam Status</th>
      <th>Favourite heroes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.player_type == "captain" %>
        <tr>
          <td><%= link_to image_tag(user.logo), user.steam_profile %></td>
          <td><%= user.name %></td>
          <td><%= user_steam_state(user) %></td>
          <td>
            <% HerosUsers.where(user_id: user.id.to_s).each do |hu| %>
              <%= image_tag(Hero.find_by_id(hu.hero_id.to_i).small_portrait_url) %>
            <% end %>
          </td>
          <% if logged_in_as_user(user) %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Steam Status</th>
      <th>Favourite heroes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.player_type == "player" %>
        <tr>
          <td><%= link_to image_tag(user.logo), user.steam_profile %></td>
          <td><%= user.name %></td>
          <td><%= user_steam_state(user) %></td>
          <td>
            <% HerosUsers.where(user_id: user.id.to_s).each do |hu| %>
              <%= image_tag(Hero.find_by_id(hu.hero_id.to_i).small_portrait_url) %>
            <% end %>
          </td>
          <% if logged_in_as_user(user) %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Standins</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Steam Status</th>
      <th>Favourite heroes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if user.player_type == "standin" %>
        <tr>
          <td><%= link_to image_tag(user.logo), user.steam_profile %></td>
          <td><%= user.name %></td>
          <td><%= user_steam_state(user) %></td>
          <td>
            <% HerosUsers.where(user_id: user.id.to_s).each do |hu| %>
              <%= image_tag(Hero.find_by_id(hu.hero_id.to_i).small_portrait_url) %>
            <% end %>
          </td>
          <% if logged_in_as_user(user) %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>