<h1>TI4 data!!!</h1>

<p>
	<strong>Most picked heros:</strong><br />
	<% Hero.all_by_picks[0..9].each do |hero| %>
		<%= hero.lname %>
		<%= Match.num_picked(hero.hero_id) %><br />
	<% end %>
</p>

<p>
	<strong>Most banned heros:</strong><br />
	<% Hero.all_by_bans[0..9].each do |hero| %>
		<%= hero.lname %>
		<%= Match.num_banned(hero.hero_id) %><br />
	<% end %>
</p>

<p>
	<strong>Most successful heros:</strong><br />
	<% Hero.all_by_winrate[0..9].each do |hero| %>
		<%= hero.lname %>
		<%= number_with_precision(Match.win_percentage(hero.hero_id), :precision=>2) %>%<br />
	<% end %>
</p>