<div id="temp" style="width:800px; margin:0 auto;">
	
		<br/><br/><center><%= image_tag("oahgl.png") %></center><br/>

		

	<% if not current_user %>
		<p>
			<h1><center>Temporary login site</center></h1>
		</p>
		<p>
			Hey everyone, the OAHGL site is still under construction (clearly) (unveiling soon) but I need all captains, players and standins to log in with your Steam ID and then fill out a short questionnaire. It'll take, like, a minute total, so please hit this button down here:
		<p><br/>
			<center><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %></center>
			
	<% else %>
		<p>
			<strong><center>Thanks for signing up, and good luck in the league!</center></strong>
		</p>
	<% end %>
</div>

<!-- 	<div id="stats" style=float:left>
		<h1>RANDOM LEAGUE STATS!</h1>
		<p>
			<strong>Most picked heros:</strong><br />
			<% Hero.order('picks_count DESC').limit(10).each do |hero| %>
				<%= hero.lname %>
				<%= hero.picks_count %><br />
			<% end %>
		</p>

		<p>
			<strong>Most banned heros:</strong><br />
			<% Hero.order('bans_count DESC').limit(10).each do |hero| %>
				<%= hero.lname %>
				<%= hero.bans_count %><br />
			<% end %>
		</p>
		<p>
			<strong>Top Performances</strong><br />
			Highest GPM: <%= Performance.order(gpm: :desc).first.gpm %> 
					by <%= Performance.order(gpm: :desc).first.player.id %><br />
			Highest XPM: <%= Performance.order(xpm: :desc).first.xpm %> 
					by <%= Performance.order(xpm: :desc).first.player.id %><br />
			Most kills: <%= Performance.order(kills: :desc).first.kills %> 
					by <%= Performance.order(kills: :desc).first.player.id %><br />
			Most assists: <%= Performance.order(assists: :desc).first.assists %> 
					by <%= Performance.order(assists: :desc).first.player.id %><br />
			Most deaths: <%= Performance.order(deaths: :desc).first.deaths %> 
					by <%= Performance.order(deaths: :desc).first.player.id %><br />
			Most last hits: <%= Performance.order(last_hits: :desc).first.last_hits %> 
					by <%= Performance.order(denies: :desc).first.player.id %><br />
			Most denies: <%= Performance.order(denies: :desc).first.denies %> 
					by <%= Performance.order(denies: :desc).first.player.id %><br />
		</p>
	</div>

	<% if current_user != nil %>
		<div id="accountmgmt" style=float:left>
			<h1>Account stuff</h1>
			 <% if current_user.player_type == "captain" %>
			 	<% if current_user.player.team == nil %>
			 		<p>You are not on a team.</p>
			 		<%= link_to "You should make one!", new_team_path %>
			 	<% end %>
			 <% end %>
		</div>
	<% end %>

</div> -->



<!-- <div id="login" style=float:right>
	<h1>WHO U R</h1><br>
	<% if current_user %>
		<%= link_to image_tag(current_user.logo), current_user.steam_profile %>
		<%= link_to "Sign Out", signout_path %>
		<p><%= current_user.name %></p>
		<p><%= user_steam_state(current_user) %></p>
	<% else %>
		<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
	<% end %>
</div> -->

