<div><h1>RANDOM LEAGUE STATS!</h1></div>

	<div id="stats" style=float:left>
		<p>
			<strong>Most picked heros:</strong><br />
			<% Hero.order('picks_count DESC').limit(10).each do |hero| %>
				<%= hero.lname %>
				<%= hero.picks_count %><br />
			<% end %>
		</p>

		<p>
			<strong>Most banned heros:</strong><br />
			<% Hero.order('bans_count DESC').limit(10).each do |hero| %>
				<%= hero.lname %>
				<%= hero.bans_count %><br />
			<% end %>
		</p>
	</div>

</div>

<div id="login" style=float:right>
	<h1>WHO U R</h1><br>
	<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>

	<% if session.key? :current_user %>
	<%= image_tag session[:current_user][:image] %>
	<p><%= session[:current_user][:nickname] %></p>
	<p><%= session[:current_user][:uid] %></p>
	<% end %>
</div>

