<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Radiant win</th>
      <th>Start time</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_id %></td>
        <td><%= match.radiant_win %></td>
        <td><%= match.start_time %></td>
        <td><%= match.duration %></td>
        <td><%= link_to 'Show', match %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
