<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @match.match_id %>
</p>

<p>
	<% if @match.radiant_win %>
		<%= image_tag(@match.winner.logo_path) %><h1>Vs.</h1><%= image_tag(@match.loser.logo_path) %>
	<% else %>
		<%= image_tag(@match.loser.logo_path) %><h1>Vs.</h1><%= image_tag(@match.winner.logo_path) %>
	<% end %>
	
	<% if @match.radiant_win %>
		
	<% else %>
		
	<% end %>
</p>

<%= render 'scoreboard' %>

<p>
  <strong>Winner:</strong>
  <%= @match.winner.name %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
