<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @match.match_id %>
</p>

<p>
  <strong>Radiant win:</strong>
  <%= @match.radiant_win %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @match.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @match.duration %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
