<h1>Listing picks</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Match</th>
      <th>Hero</th>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.order %></td>
        <td><%= pick.match_id %></td>
        <td><%= pick.hero_id %></td>
        <td><%= pick.team_id %></td>
        <td><%= link_to 'Show', pick %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pick', new_pick_path %>
