<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @pick.order %>
</p>

<p>
  <strong>Match:</strong>
  <%= @pick.match_id %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @pick.hero_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @pick.team_id %>
</p>

<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
