<%= form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :series_type %><br>
    <%= f.text_field :series_type %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :loser_id %><br>
    <%= f.number_field :loser_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
