<h1>Listing series</h1>

<table>
  <thead>
    <tr>
      <th>Series type</th>
      <th>Winner</th>
      <th>Loser</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.series_type %></td>
        <td><%= series.winner_id %></td>
        <td><%= series.loser_id %></td>
        <td><%= link_to 'Show', series %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
