<p id="notice"><%= notice %></p>

<p>
  <strong>Series type:</strong>
  <%= @series.series_type %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @series.winner_id %>
</p>

<p>
  <strong>Loser:</strong>
  <%= @series.loser_id %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
