  <tr>
    <td><%= performance.performance_id %></td>
    <td><%= image_tag(Hero.get_portrait_url(performance.hero_id)) %></td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_0), size:"42x32") %> </td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_1), size:"42x32") %> </td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_2), size:"42x32") %> </td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_3), size:"42x32") %> </td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_4), size:"42x32") %> </td>
    <td><%= image_tag(Item.get_portrait_url(performance.item_5), size:"42x32") %> </td>
    <td><%= performance.level %></td>
    <td><%= performance.kills %></td>
    <td><%= performance.deaths %></td>
    <td><%= performance.assists %></td>
    <td><%= performance.last_hits %></td>
    <td><%= performance.denies %></td>
    <td><%= performance.gpm %></td>
    <td><%= performance.xpm %></td>
    <td><%= performance.hero_damage %></td>
    <td><%= performance.tower_damage %></td>
    <td><%= performance.hero_healing %></td>
  </tr>