<h1>Listing performances</h1>

<table>
  <thead>
    <tr>
      <th>Performance</th>
      <th>Hero</th>
      <th>Item 0</th>
      <th>Item 1</th>
      <th>Item 2</th>
      <th>Item 3</th>
      <th>Item 4</th>
      <th>Item 5</th>
      <th>Level</th>
      <th>Kills</th>
      <th>Deaths</th>
      <th>Assists</th>
      <th>Last hits</th>
      <th>Denies</th>
      <th>Gpm</th>
      <th>Xpm</th>
      <th>Hero damage</th>
      <th>Tower damage</th>
      <th>Hero healing</th>
    </tr>
  </thead>

  <tbody>
    <% @performances.each do |performance| %>
      <tr>
        <td><%= performance.performance_id %></td>
        <td><img src=<%= performance.get_hero_portrait_url %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_0) %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_1) %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_2) %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_3) %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_4) %>></td>
        <td><img src=<%= performance.get_item_portrait_url(performance.item_5) %>></td>
        <td><%= performance.level %></td>
        <td><%= performance.kills %></td>
        <td><%= performance.deaths %></td>
        <td><%= performance.assists %></td>
        <td><%= performance.last_hits %></td>
        <td><%= performance.denies %></td>
        <td><%= performance.gpm %></td>
        <td><%= performance.xpm %></td>
        <td><%= performance.hero_damage %></td>
        <td><%= performance.tower_damage %></td>
        <td><%= performance.hero_healing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performance', new_performance_path %>
