<p id="notice"><%= notice %></p>

<p>
  <strong>Performance:</strong>
  <%= @performance.performance_id %>
</p>

<p>
  <strong>Hero:</strong>
  <%= @performance.hero_id %>
</p>

<p>
  <strong>Item 0:</strong>
  <%= @performance.item_0 %>
</p>

<p>
  <strong>Item 1:</strong>
  <%= @performance.item_1 %>
</p>

<p>
  <strong>Item 2:</strong>
  <%= @performance.item_2 %>
</p>

<p>
  <strong>Item 3:</strong>
  <%= @performance.item_3 %>
</p>

<p>
  <strong>Item 4:</strong>
  <%= @performance.item_4 %>
</p>

<p>
  <strong>Item 5:</strong>
  <%= @performance.item_5 %>
</p>

<p>
  <strong>Level:</strong>
  <%= @performance.level %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @performance.kills %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @performance.deaths %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @performance.assists %>
</p>

<p>
  <strong>Last hits:</strong>
  <%= @performance.last_hits %>
</p>

<p>
  <strong>Denies:</strong>
  <%= @performance.denies %>
</p>

<p>
  <strong>Gpm:</strong>
  <%= @performance.gpm %>
</p>

<p>
  <strong>Xpm:</strong>
  <%= @performance.xpm %>
</p>

<p>
  <strong>Hero damage:</strong>
  <%= @performance.hero_damage %>
</p>

<p>
  <strong>Tower damage:</strong>
  <%= @performance.tower_damage %>
</p>

<p>
  <strong>Hero healing:</strong>
  <%= @performance.hero_healing %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
